__pycache__/
tmp/
homepagebuilder/
homepage/
csslibs/
.ipynb_checkpoints/
.idea/
homepage_output/
webcontent_bak/





# Ansible
.vault-pass
*.retry

# Local clear-text secrets (if you use a mirror directory)
local-secrets/
