asgiref==3.9.1
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
Django==5.2.5
idna==3.10
Jinja2==3.1.6
joblib==1.5.1
MarkupSafe==3.0.2
nltk==3.9.1
regex==2025.7.34
requests==2.32.5
soupsieve==2.7
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
pandas
lxml

